

$dark-cyan : hsl(185, 75%, 39%);
$very-dark-desatured-blue : hsla(229, 23%, 23%, 0.2);
$dark-grayish-blue : hsl(227, 10%, 46%);
$dark-gray :  hsl(0, 0%, 59%);
$dark-gray-border : hsla(0, 0%, 59%, 0.4);

$main-police : 'kumbh sans';